<% if current_user %>
  <%= content_tag :div, class: 'pull-left vote-arrows', id: "votes-#{post.id}" do %>
    <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post, remote: true %></div>
    <div class="votes_points"><strong><%= post.points %></strong></div>
    <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post, remote: true %></div>
  <% end %>
<% end %>
